/*

!/.gitignore
!/src
!/pgpq
!/Cargo.toml
!/Cargo.lock
!/pyproject.toml
!/python
!/tests
!/bench.ipynb
!/requirements-dev.txt
!/requirements-bench.txt
!/.pre-commit-config.yaml
!/Makefile
!/README.md
!/.github
!/LICENSE.txt
!/.gitattributes

__pycache__
*.so
.venv
.DS_Store
