/*

!/.gitignore
!/core
!/py
!/json
!/Cargo.toml
!/Cargo.lock
!/pyproject.toml
!/uv.lock
!/.pre-commit-config.yaml
!/ruff.toml
!/Makefile
!/README.md
!/.github
!/LICENSE.txt
!/.gitattributes

__pycache__
*.so
*.pyd
.venv
.DS_Store

_pgpq.pyd
