repos:
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
  - repo: local
    hooks:
    - id: cargo-fmt
      name: cargo-fmt
      entry: cargo fmt
      language: system
      types: [rust]
      pass_filenames: false
    - id: cargo-clippy
      name: cargo-clippy
      entry: cargo clippy
      language: system
      types: [rust]
      pass_filenames: false
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: 'v0.0.239'
    hooks:
      - id: ruff
